<h3>barev gor</h3>
<h2>barev gor</h2>
<h1>gor raffi</h1>

<h1>My First Heading</h1>
<p>My first paragraph</p>
<p>mikamuka clean world</p>

   <table>
       <tr>
         <td>yahoo</td>
         <td>viber</td>
         <td>closed</td>
       </tr>
       <tr>
         <td>lose</td>
         <td>gjok</td>
         <td>grti</td>
       </tr>
</table>

<table border="1" cellspasing="10">

  <tr>
    <th colspan="2"><h3>Odd People</h3></th>

  </tr>
  <tr>
    <th>type</th>
    <th>Reason</th>
  </tr>
  <tr>
    <td>Cat People</td>
    <td>17 cats is just too many</td>
  </tr>
  <tr>
    <td>Loud People</td>
    <td>Sure turn that music up, its only</td>

  </tr>
  <tr>
    <td>Rachael Mcadams</td>
    <td>Mean Girls</td>

  </tr>
</table>
<ol>
  <li>go to youtube</li>
  <li>type in "thenewboston"</li>
  <li>watch all the videos</li>
  <li>eat a hot pocket</li>
</ol>


 this is normal text
 <p>this is paragrpah text</p>
<h1>Buckys Bacon Wagon</h1>
     <p>Bets abcon on t</p>

       <ul>
           <li>unordered list</li>
       </ul>
        <ol>
        <li>ordered list</li>

         </ol>

    <h3>Bucky's Blog</h3>
     <p>This is the best day ever</p>

    <h2>I love Bucky</h2>
<h2>I love bucky</h2>
<p>This is a apragarhaphd</p>
<p>This is a apragarhaphd</p>
<h4>My anmes ofrest forest gump</h4>

<a href="http://thenewboston.com">TheNewBoston</a>
this is jut normal text
<table>
      <tr>
          <td>I love Bucky</td>
          <td>I love bucky</td>
          <td>I love bucky</td>
       </tr>
        <tr>
           <td>I love bucky</td>
           <td>I love bucky</td>
           <td>I love bucky</td>
 </table>

<ul>
  <li>apple</li>
  <li>pie</li>
  <li>dumplings</li>
</ul>


this is normal text
<h1>this is headr one</h1>
<p>This is a paragarph</p>

  <p>this is my first para and <span>i love carrots</span> and applet pie</p>


<div>my name is bucky</div>
<p class="redtext">i want this  text to be red!</p>
<p>boy oh boy i wish i was green!</p>
<div id="bobby">bobby is the ebst</div>
<div id="hobart">hobart is the coolest</div>
<h1 style="background-color:DodgerBlue;">Hello World</h1>

<p style="background-color:Tomato;">
  Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
</p>
<h1 style="background-color:rgb(255, 99, 71);">color of branch</h1>
<h1 style="background-color:#ff6347;">...</h1>
<h1 style="background-color:hsl(9, 100%, 64%);">color of branch 1</h1>

<h1 style="background-color:rgba(255, 99, 71, 0.5);">color of branch 2</h1>
<h1 style="background-color:hsla(9, 100%, 64%, 0.5);">color of branch4</h1>
<h1 style="background-color:rgb(255, 0, 0);">rgb(255, 0, 0)</h1>
<h1 style="background-color:rgb(0, 0, 255);">rgb(0, 0, 255)</h1>
<h1 style="background-color:rgb(60, 179, 113);">rgb(60, 179, 113)</h1>
<h1 style="background-color:rgb(238, 130, 238);">rgb(238, 130, 238)</h1>
<h1 style="background-color:rgb(255, 165, 0);">rgb(255, 165, 0)</h1>
<h1 style="background-color:rgb(106, 90, 205);">rgb(106, 90, 205)</h1>
<h2>Absolute URLs</h2>
<p><a href="https://www.w3.org/">W3C</a></p>
<p><a href="https://www.google.com/">Google</a></p>

<h2>Relative URLs</h2>
<p><a href="html_images.asp">HTML Images</a></p>
<p><a href="/css/default.asp">CSS Tutorial</a></p>
<p>Click the button to go to the HTML tutorial.</p>

<button onclick="document.location='default.asp'">HTML Tutorial</button>
<h2>Link Button</h2>
<p>A link styled as a button:</p>
<a href="default.asp" target="_blank">This is a link</a>
<p><a href="#C4">Jump to Chapter 10</a></p>
<p><a href="#C4">Jump to Chapter 10</a></p>
<map name="workmap">
<area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
</map>
<img src="https://icatcare.org/app/uploads/2018/06/Layer-1704-1920x840.jpg" alt="Workplace" usemap="#workmap" width="400" height="379">
<ul>
<li>Coffee</li>
<li>coffee</li>
<li>coffee</li>
</ul>
<p>Use CSS to style an element with the id "myHeader":</p>

<h1 id="myHeader">My Header</h1>
<h2 id="myheader">my header</h2>
<h3 id="myheader">my header</h3>


<code>
x = 5;<br>
y = 6;<br>
z = x + y;
</code>
<nav>
<a href="/html/">HTML</a> |
<a href="/css/">CSS</a> |
<a href="/js/">JavaScript</a>
<a href="/jquery/">jQuery</a>
</nav>
<div class="xare-baneri-wrapper">
  <p>Я</p>
</div>
<p>Hello my favourite color is <span
  class="red">sable</span></p>

<li>url adress</li>
<li>go to www.list.am</li>
<h1>Coffee</h1>
<h2>coffee</h2>
<h3>coffee</h3>
<h4>coffee</h4>
<ol>
  <li>coffee</li>
  <li>coffee</li>
  <li>coffee</li>
  <li>coffee</li>
</ol>
<p id="demo">Click the button to change the layout of this paragraph</p>

<button onclick="myFunction()">Click Me!</button>

<script>
  function myFunction() {
    var x = document.getElementById("demo");
    x.style.fontSize = "25px";
    x.style.color = "red";
  }
</script>


<table>
  <tr>
    <td>sable</td>
    <td>sable</td>
    <td>sable</td>
  </tr>
  <tr>
    <td>sable</td>
    <td>sable</td>
    <td>sable</td>
  </tr>
</table>
<form action="test.php">
  Անուն <input type="text" name="fname"><br>
  Ազգանուն <input type="text" name="lname"><br>
  <input type="submit" value="Ուղարկել">
</form>
<body>
<em>Emphasized text</em><br>
<strong>Strong text</strong><br>
<dfn>Definition term</dfn><br>
<code>A piece of computer code</code><br>
<samp>Sample output from a computer program</samp><br>
<kbd>Keyboard input</kbd><br>
<var>Variable</var>
</body>
<strong>like development in track foust</strong>
<small>like development in track foust</small>
<em>goust ghost your oplakinmot</em>



