<h1>Website html</h1>
<ul>
  <li class="fancy-li">Home</li>
  <li class="fancy-li red">About</li>
  <li class="fancy-li">Blog</li>
</ul>

<app-xare-baner></app-xare-baner>
<app-gori-component></app-gori-component>


<h1>forever alone</h1>
<h2>alone forever </h2>

<style>
  body {background-color: powderblue;}
  h1   {color: blue;}
  p    {color: red;}
</style>
<p>This is a paragraph.</p>
<p>This is a paragraph.</p>
<p>This is a paragraph.</p>
<h2>HTML Image</h2>
<img src="heraxos.png" alt="Trulli" width="500" height="333">
<a>classroom</a>
<tr>menu</tr>
<tr>joker</tr>
<div>point</div>
<p>Hello my favourite color is <span
  class="red">red</span></p>
<style>
  body {background-color: powderblue;}
  h1   {color: green;}
  p    {color: gold;}
 </style>
<input>
<button>սխմել</button>
<input type="password">
<input type="file">
<a href="https://www.youtube.com/watch?v=1V-m4xxD0CQ">սխմեք այստեղ</a>
<div>joker has nice</div>
<li>mortal combat</li>
<li>night flowers</li>
<ul>armenian people</ul>
<il>harmony delete</il>
<button>տպել</button>

