<h1>Website html</h1>
<ol>
  <li class="fancy-li">Home</li>
  <li class="fancy-li red">About</li>
  <li class="fancy-li">Blog</li>
</ol>
<app-xare-baner></app-xare-baner>
<app-gori-component></app-gori-component>

<h1>forever alone</h1>
<h2>alone forever </h2>
<style>
  body {background-color: powderblue;}
  h1   {color: blue;}
  p    {color: red;}
</style>
<p href="contra is over go sleep">This is a paragraph.</p>
<p>This is a paragraph.</p>
<p>This is a paragraph.</p>
<h2>HTML Image</h2>
<img src="https://images.smash.gg/images/tournament/191285/image-bafb8fd2ed61a44365e914ee9d68e605.png?format=auto&width=1600&fit=cover" alt="Trulli" width="500" height="333">
<a>classroom</a>
<tr>menu</tr>
<tr>joker</tr>
<div>point</div>
<p>Hello my favourite color is <span
  class="red">red</span></p>
<style>
  body {background-color: powderblue;}
  h1   {color: green;}
  p    {color: gold;}
 </style>
<input>
<button>սխմել</button>
<input type="password">
<input type="file">
<a href="https://www.youtube.com/watch?v=1V-m4xxD0CQ">սխմեք այստեղ</a>
<div>joker has nice</div>
<li>mortal combat</li>
<li>night flowers</li>
<ul>armenian people</ul>
<button>տպել</button>
hello <a href="https://www.google.com/url?sa=i&url=https%3A%2F%2Ficatcare.org%2F&psig=AOvVaw0N0Wyc41iaVJdyrMsYLOPZ&ust=1599897778975000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCKC0z-nR4OsCFQAAAAAdAAAAABAD" target="_blank">world</a>

<div class="color isnt make to go down">
  <p>you cant find yourselfe sorry wery well</p>
</div>
<select>write message</select>
<footer>3+2=9</footer>
<meter></meter>
<nav>infrant off</nav>
