<div class="Background">
  <h3>Basic Buttons</h3>
  <div class="example-button-row">
    <button mat button>Basic</button>
    <button mat color="primary">Primary</button>
    <button mat color="accent">Accent</button>
    <button mat color="warn">Warn</button>
    <button mat-button disabled>disabled</button>
    <a mat-button routerLink=".">Link</a>
  </div>

  <a>monte carlo?</a>


  <app-xare-baner></app-xare-baner>

  <app-gori-component></app-gori-component>
</div>
<html>
<head>
    <style type="text/css">
    </style>
</head>
<body>
<form>
tell me about yourselfe:
<br/>
<textarea name="bio" rows="8" cols="40">
type somewethign here
</textarea>
</form>
</body>
</html>
<body>
<form>
    password: <input type="password" name="pword"/>
    <p>nowsubmit a file!</p>
    <input type="file" name="buckysfile"/>
</form>
</body>

<html>
<head>
    <style type="text/css">
    </style>
</head>
<body>
<form action="dosomething" method="post">
    Username: <input type="text" name="username" />
    <br />
    Password: <input type="password" name="pass" />
    <br />
    <input type="submit" value="submit!">
</form>

<html>
<head>
</head>
<body>

<script type="text/javascript">
     var bucky = 32;
     document.write(bucky);
</script>

</body>
</html>
<ul>
  <li>kitten</li>
  <li>elephant</li>
  <li>piglent</li>
</ul>

<marquee>mynews<marquee>






